
node_modules/
dist/
build/
.cache/
.env
.env.*
/Backend/.env

__pycache__/
.venv/
*.pyc
*.log

*.pth
*.pt
*.onnx
*.zip

/Backend/.env

/Backend/.env.*
!/Backend/.env.example

# Models (ignored)
Backend/pretrainedResNet/*.pth
Backend/pretrainedDistilbert/distilbert_intent_model/
